body
{
    display: flex;
    background-color: rgb(50, 50, 50);
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.board
{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    outline: 1px solid black;
    height: 800px;
    width: 800px;
}

.box1
{
    min-width: 100px;
    height: 100px;
    outline: 1px solid black;
    background-color: rgb(255, 255, 200);
}

.box2
{
    min-width: 100px;
    height: 100px;
    outline: 1px solid black;
    background-color: rgb(115, 175, 75);
}

.number1
{
    
    color: rgb(115, 175, 75);

}

.number2
{
    color: rgb(255, 255, 200);
}

.letter1
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(115, 175, 75);
}

.letter2
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(255, 255, 200);
}